body{
margin:0;
font-family:Inter,sans-serif;
display:flex;
background:#f4f7fb;
}

.sidebar{
width:250px;
background:#167db5;
height:100vh;
padding:20px;
color:white;
}

.sidebar button{
width:100%;
margin-top:10px;
padding:15px;
border:none;
border-radius:12px;
cursor:pointer;
}

.main{
flex:1;
padding:40px;
}

.hidden{
display:none;
}

.stat-grid{
display:flex;
gap:20px;
}

.stat-card{
background:white;
padding:20px;
border-radius:20px;
width:200px;
box-shadow:0 4px 10px rgba(0,0,0,.08);
}

.course-card{
background:white;
padding:20px;
border-radius:20px;
margin-top:20px;
box-shadow:0 4px 10px rgba(0,0,0,.08);
}

.lesson-card{
background:white;
padding:20px;
border-radius:20px;
margin-top:20px;
}

.thumb{
width:100%;
border-radius:15px;
}

.profile-card{
background:white;
padding:30px;
border-radius:20px;
max-width:300px;
}
